body {
    font-size: .875rem;
}

.loading-screen {
    position: relative;
    min-height: 100%;
    height:100vh;
}

.loading-text {
    position: absolute;
    top: 48%;
    left: 40%;
    font-weight: bold;
    color: #FFFFFF;
}

.loading-animation {
    position: absolute;
    top: 52%;
    left: 40%;
    height: 100px;
    display:inline-block;
}

.feather {
    width: 10%;
    height: 10%;
    vertical-align: text-bottom;
}

.featherDefault {
    width: 75%;
    height: 75%;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.fill {
    min-height: 100vh;
    height: 100%;
}

.leaflet-container {
    background-color:rgba(32,37,40,255);
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.leaflet-label {
    display: block;
    font-weight: bold;
    padding: 1px 6px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.marker-label-Note {
    color: #888888;
}

.island-detail-tooltip {
    background: #555555;
    pointer-events: none;
    border: 6px solid transparent;
    width: 300px;
}

.island-tooltip-title {
    font-weight: bold;
    color: #ff9900;
}

.island-tooltip-meta {
}

.island-tooltip-metatitle {
    color: #CCCCCC;
    font-size: medium;
}

.island-tooltip-metavalue {
    color: #F0F011;
    font-size: medium;
    white-space: normal;
    width: 180px;
}

.faqImage {
    max-width: 200px;
    max-height: 200px;
}

.background-rarity-0 {
     background-color: #888888;
 }

.background-rarity-1 {
    background-color: #87cc01;
}

.background-rarity-2 {
    background-color: #00aaf1;
}

.background-rarity-3 {
    background-color: #cb42f8;
}

.background-rarity-4 {
    background-color: #f88a00;
}

.border-rarity-0 {
    border-color: #fdfdfd;
}

.border-rarity-1 {
    border-color: #87ee01;
}

.border-rarity-2 {
    border-color: #00aaf1;
}

.border-rarity-3 {
    border-color: #cb42f8;
}

.border-rarity-4 {
    border-color: #f88a00;
}

.treasure-map-header-container {
    background-color: #EFEFEF;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 100px;
}

.treasure-map-header {
}

.layerSelectIcon {
    width: 32px;
    height: 32px;
    margin: 4px;
}

.changeLogContent {
    max-height: 800px;
    overflow-y: scroll;
}

.statisticsIcon {
    width: 32px;
    height: 32px;
}

.statisticsSection {
    margin: 8px;
}

.eventsIcon {
    width: 64px;
    height: 64px;
}

.timeDisplayTitle {
    font-size: medium;
}

.eventCountdown {
    color: #FF0000;
}

.eventCategory {
    margin: 10px;
}

.cardImage {

}

.cardStatLabel {

}

.cardStatValue {
    font-weight: bold;
}

.filterTable tr td{
    padding: 0 !important;
    margin: 0 !important;
}

.filterHeader {
    width: 180px
}

.filterBtnActive {
    border-width: 2px;
    border-color: black;
}

.lang-select {
    margin: 10px;
}

.lang-select img {
    width: 32px;
    height: 32px;
}

.cardElementsImage {
    width: 600px;
    height: 600px;
    margin: 20px;
}